@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');

*{
    font-family: 'Lexend Deca';
    color: var(--black);
    letter-spacing: 0;
    word-spacing: 0;
}

.bigText{
    font-size: 3rem;
    font-weight: 700;
}

.tittle{
    font-size: 2rem;
    font-weight: 600;
}

.subTitle{
    font-size: 1.6rem;
    font-weight: 500;
}

.littleTitle{
    font-size: 1.4rem;
    font-weight: 400;
}

.text{
    font-size: 1.2rem;
    font-weight: 380;
}


.littleText{
    font-size: 1rem;
    font-weight: 300;
}

