@import "variables.css";
@import "style.css";

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--orange);
    background: linear-gradient(180deg, var(--orange) 50%, rgba(255, 255, 255, 0.75) 50%);
    position: relative;
}

header {
    margin-left: 3.25rem;
    margin-top: 2.375rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    position: fixed;
    left: 0;
    top: 0;
}

header p {
    color: var(--white);
}

.container {
    background: var(--white);
    width: 50%;
    height: 80%;
    max-width: 600px;
    min-height: auto;
    padding: 4rem;
    border-style: solid;
    border-color: var(--gray);
    border-width: 0.125rem;
    border-radius: 10px;
    padding-top: 5.75rem;
}

form {
    display: flex;
    flex-direction: column;
}

input {
    background-color: rgba(236, 236, 236, 0.6);
    border-width: 0.125rem;
    border-color: var(--gray);
    width: 100%;
    max-width: 31.875rem;
    height: 4.25rem;
    border-radius: 10px;
    border-style: solid;
    outline: none;
    padding-left: 17px;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 3.125rem ;
}

::placeholder {
    color: rgba(43, 43, 43, 0.40);
    font-weight: 500;
    font-size: 1.125rem;
}

.text-input {
    color: rgba(43, 43, 43, 0.70);
    font-weight: 500;
    font-size: 1.125rem;
}

p.subTitle {
    color: rgba(43, 43, 43, 0.40);
    padding-bottom: 2.0625rem;
}

p.title {
    font-size: 1.875rem;
    color: var(--black);
    padding-bottom: 2.8125rem;
}

p.little-title {
    font-size: 1.125rem;
    color: var(--orange);
}

button {
    background-color: var(--orange);
    color: var(--white);
    width: 13.125rem;
    height: 3.25rem;
    gap: 0.625rem;
    border-radius: 10px;
    border-style: none;
    justify-content: center;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.direction {
    display: flex;
    flex-direction: row-reverse;
    padding-bottom: 1.625rem;
    cursor: pointer;
}

.button-text-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    gap: 0.625rem;
}

.color {
    color: var(--black);
}

.link-cadastro {
    color: var(--orange);
    text-decoration: underline;
    cursor: pointer;
}